#about-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #00b0ff;
}
  
#about-container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}
  
.about-content {
    display: flex;
    flex-wrap: wrap;
}
  
.about-left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 20%;
}
  
.about-text {
    width: 100%;
}
  
.about-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 75%;
}
  
.about-image .avatar {
    background: url('../img/Bryan.jpg');
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}