#home-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #161616;
}
  
#home-container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}
  
.home-content {
    display: flex;
    flex-wrap: wrap;
}
  
.home-left-side {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 40%;
}
  
.home-text {
    width: 100%;
}
  
.signature {
    font-size: 24px;
    color: #00b0ff;
    font-family: 'Pacifico', cursive;
}
  
.social-media img {
    padding: 2px;
    width: 30px;
    height: 30px;
}
  
.home-right-side {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 60%;
}
  
.home-image {
    width: 100%;
}

.home-image img {
    width: 100%;
}