.contact-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color:  #000415;
}
  
.contact-container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}
  
.contact-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  
.contact-top-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
  
.contact-text {
    width: 100%;
}
  
.contact-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px; 
    width: 100%;
}

.form-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.input-name {
    margin-top: 10px;
}

.input-email {
    margin-top: 10px;
}

.text-area {
    resize: none;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    height: 300px;
    color: black;
}

.submit-email-button {
    background: #00b0ff;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.submit-email-button:hover {
    background: white;
    color: #00b0ff;
    transition: 0.2s ease-out;
}