.projects-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color:  #000415;
}
  
.projects-container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}
  
.projects-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  
.projects-top-side {
    display: flex;
    align-items: center;
    width: 100%;
}
  
.projects-text {
    width: 100%;
}
  
.projects-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.projects {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.project {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
.project-one-image {
    background-image: url('../../img/BryanautaPortfolio.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.project-two-image {
    background-image: url('../../img/Black.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.project-three-image {
    background-image: url('../../img/Black.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.project-four-image {
    background-image: url('../../img/Black.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.project-five-image {
    background-image: url('../../img/Black.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.project-six-image {
    background-image: url('../../img/Black.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 250px;
}
  
.project-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 100%;
    height: 30px;
    padding: 1px;
}
  
.project-name {
    color: black;
}
  
.project-footer img {
    width: 20px;
}

.project-technologies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-technologies img {
    margin-left: 10px;
}
  