.skills-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #000415;
}
  
.skills-container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
  
.skills-content {
    display: flex;
    flex-wrap: wrap;
}
  
.skills-top-side {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
}
  
.skills-text {
    width: 100%;
}
  
.skills-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
  
.languages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
  
.language {
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

.language:hover {
    background: #00b0ff;
}

.language img {
    width: 70px;
    height: 70px;
}